<!-- Header section -->
<header class="bg-dark py-5 service-header">
    <div class="container px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Blog</h1>
        </div>
    </div>
</header>

<!-- Blog section -->
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-20">
        <!-- Blog posts -->
        <ul class="list-unstyled">
          <li *ngFor="let blog of blogs" class="mb-4">
            <div class = "blog-post">
              <h1>{{ blog.title }}</h1>
              <span class="image featured"><img class="image-padding" [src]="imageURL + blog.image_name" alt="" width="300"/></span>
              <p>{{ blog.content }}</p>
              <button class="btn btn-primary" (click)="loadComments(blog.id)">Load comments</button>
              <ul *ngIf="selectedBlogId === blog.id" class="mt-3">
                <li *ngFor="let comment of comments" class="mb-3">
                  <p>{{ comment.content }}</p>
                  <p>{{ comment.created_at }}</p>
                </li>
                <form (submit)="addComment(commentForm)" #commentForm="ngForm" class="mb-4">
                  <h4>Add Comment</h4>
                  <div class="form-group">
                    <label for="content">Comment</label>
                    <textarea class="form-control" name="content" id="content" rows="3" required [(ngModel)]="commentContent!"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
