<!-- Header section -->
<header class="bg-dark py-5 service-header blog-header">
  <div class="container px-lg-5 my-5">
    <h1 class="display-4 text-center text-white fw-bold">Blog</h1>
  </div>
</header>

<!-- Blog section -->
<section class="py-5 blog-post">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <ul class="list-unstyled">
          <!-- Loop through each post and display its details -->
          <li class="media mb-4" *ngFor="let post of posts">
            <div class="row">
              <div class="col-md-4">
                <span class="image featured"><img class="image-padding" [src]="imageURL + post.image_name" alt="" width="200"/></span>
              </div>
              <div class="col-md-8">
                <div class="media-body">
                  <!-- Link to the post details page -->
                  <a routerLink="/blog/{{ post.id }}">
                    <h3 class="mb-0">{{ post.title }}</h3>
                  </a>
                  <!-- Display the post creation date -->
                  <small class="d-block text-muted mb-2">{{ post.created_at | date:'MMM d, y' }}</small>
                  <!-- Display the post content -->
                  <p class="mb-3">{{ post.content }}</p>
                  <div class="read-more">
                    <!-- Link to the post details page -->
                    <a class="btn btn-primary" (click)="goToBlogDetails(post.id)">Load Comments</a>
                  </div>
                  <ul>
                    <br>
                    <!-- Loop through each comment of the post and display its details -->
                    <li *ngFor="let comment of comments">
                      <div>{{ comment.content }}</div>
                      <!-- Display the comment creation date -->
                      <small class="d-block text-muted mb-2">{{ comment.created_at | date:'MMM d, y' }}</small>
                    </li>
                    <br>
                  </ul>
                  <form (ngSubmit)="onSubmit(post.id)" #commentForm="ngForm">
                    <div class="form-group">
                      <label for="content">Add a comment</label>
                      <textarea class="form-control" id="content" name="content" [(ngModel)]="newComment.content" required></textarea>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary" [disabled]="!commentForm.valid">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
