<div class="footer-dark container-fluid">
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h2>Services</h2>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Returns & Refunds</a></li>
            <li><a href="mailto:email@example.com?subject=Mail from our Website">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h2>About</h2>
          <ul>
            <li><a href="https://github.com/ksharma67/EasyWay">Project</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="#"></a></li>
            <li><a href="#">Careers</a></li>
          </ul>
        </div>
        <div class="col-md-6 item text">
          <h4>EasyWay</h4>
          <p>The platform helps customers book reliable & high quality services for your home on demand. The services are delivered by highly trained professionals at your time and schedule.</p>
        </div>
        <div class="col item social">
          <h4>Follow Us</h4>
          <ul>
            <li><a href="#" aria-label="Follow us on Facebook"><i class="bi bi-facebook fb-icon" aria-hidden="true"></i></a></li>
            <li><a href="#" aria-label="Follow us on Twitter"><i class="bi bi-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#" aria-label="Follow us on Snapchat"><i class="bi bi-snapchat" aria-hidden="true"></i></a></li>
            <li><a href="#" aria-label="Follow us on Instagram"><i class="bi bi-instagram" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
      <p class="text-center text-muted">&copy; EasyWay @ Fall 2022 - Spring 2023</p>
    </div>
  </footer>
</div>
