<header id="header" [ngClass]="this.currentRoute == '/' || this.currentRoute == '/home' || this.currentRoute == '/blog' || this.currentRoute == '/upload' || this.currentRoute == '/services' || this.currentRoute == '/bookings' ? 'alt' : 'nav-alt'">
  <h3 class="logo"><a routerLink="/home">EasyWay</a></h3>
  <nav id="nav">
    <ul>
      <i class="fa fa-search search-icon"></i>
      <li style="white-space: nowrap;">
        <form action="/search" method="get" class="search-container">
          <div class="search-bar">
            <input type="text" placeholder="Search for services..." (input)="searchServices($event)" />
          </div>
          <ul class="dropdown-menu" [ngClass]="{'show': showDropdown}" style="background-color: grey;">
            <li *ngFor="let item of searchResults">
              <a href="#" (click)="selectService($event, item.id, item.name)">{{item.name}}</a>
            </li>
          </ul>
        </form>
      </li>
      <li style="white-space: nowrap;"><a routerLink="/home">Home</a></li>
      <li style="white-space: nowrap;">
        <a class="fa fa-camera" aria-hidden="true" routerLink="/upload"></a>
        <a routerLink="/services" routerLinkActive="active">Book a Service</a>
        <a routerLink="/blog" routerLinkActive="active">Blog</a>
      </li>
      <li *ngIf="isLoggedIn; else loggedOut" style="white-space: nowrap;">
        <a routerLink="/bookings" routerLinkActive="active">My Bookings</a>
        <a routerLink="/profile" routerLinkActive="active">Profile</a>
        <a routerLink="/logout" routerLinkActive="active" class="button">Logout</a>
      </li>
      <ng-template #loggedOut>
        <li style="white-space: nowrap;">
          <a routerLink="/login" routerLinkActive="active">Sign In</a>
        </li>
        <li style="white-space: nowrap;">
          <a routerLink="/register" routerLinkActive="active" class="button">Get Started</a>
        </li>
      </ng-template>
    </ul>
  </nav>
</header>
