<header class="bg-dark py-5 service-header">
    <div class="container px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Upload a picture</h1>
        </div>
    </div>
</header>

<div class="upload">
  <h2>Upload a File</h2>
  <form>
    <div>
      <label for="file">
  <i class="fas fa-upload"></i>
  Select a file
</label>

      <input type="file" id="file" name="file" />
    </div>
    <button type="submit">Upload</button>
  </form>
</div>
