<div class="content">
  <div class="container">
    <div class="row">

      <div class="col-md-6 div-mar">
        <img src="../../../assets/images/undraw_sign_in.svg" alt="Image" class="img-fluid">
      </div>

      <div class="col-md-6 contents div-mar">
        <div class="row justify-content-center">

          <div class="col-md-8">
            <div class="mb-4">
              <h3>Forgot Password</h3>
              <p class="mb-4">
                Password reset token will be shared on your registered Email
              </p>
            </div>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
              <div class="form-group first">
                <div class="form-group last mb-4">
                  <input type="email" placeholder="Email" formControlName="email" (mouseover)="highlight($event)" (mouseout)="dampen($event)">
                </div>
              </div>
              <div class="center-align">
                <input type="submit" value="Submit" class="btn btn-block btn-primary" [disabled]="!forgotPasswordForm.valid">
              </div>

              <div class="forgot-password">
                <p class="mb-4">For new registration, click on sign up below</p>
                <a href="/register">Sign Up</a>
              </div>
            </form>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>
