<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 div-mar">
        <img
          src="../../../assets/images/undraw_sign_in.svg"
          alt="Image"
          class="img-fluid"
        />
      </div>

      <div class="col-md-6 contents div-mar">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4">
              <h3>Enter your Username or Email Address</h3>
              <p class="mb-4">
                Username will be shared on your registered Email
              </p>
            </div>

            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
              <div class="form-group first">
                <input
                  type="text"
                  placeholder="Type your username or email address here"
                  formControlName="email"
                  (mouseover)="highlight($event)"
                  (mouseout)="dampen($event)"
                />
              </div>

              <div class="center-align">
                <input
                  type="submit"
                  value="Send"
                  class="btn btn-block btn-primary"
                />
              </div>

                  <div class="forgot-password">
                    <p class="mb-4">For new registration, click on sign up below</p>
                    <a href="/register">Sign Up</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
